
* {
    font-family: 'Press Start 2P', cursive;
    color: white;
}

body {
    background-color: #000000;
    margin: 0;

}

h1 {
    display: flex;
    justify-content: center;
}

#player-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

  
#game-board {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #34495e;
    color: #fff;
    border: 6px solid #049CD8;
    border-radius: 10px;
    display: none;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    
  }

div > button {
    font-size: 100%;
}

section {
    display:flex;
    margin: 2rem;

}

#p1name, #p2name {
    color: black;
}

#current-player {
    display: none;
    justify-content: center;
    font-size: 1.5rem;
    margin: 5rem 0;

}

#active-players {
    display: none;
    justify-content: center;
}

#new-game {
    display: none;
    justify-content: center;
}

::placeholder {
    font-size: 8px;
    text-align: center;
}


.button {
    color: black;
}